body{
	background-color: #e9e7e9;
	background:url("../image/last-dice.jpg"); 
}
#top{
	color:#000000;
	background-color: #328284;
	text-align: center;
	height: 200px;
	display: none;
	border-bottom-right-radius: 90%;
	border-bottom-left-radius: 90%;
}
#top h1{
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	margin-left: 40%;
	color: #ffffff;
	margin-top: 20px;
}
#exclamation{
	color: #4f3558;
	font-weight: bolder;
	font-size: 50px;
}
#main-body{
	background-color: #909095;
}
#sidebar{
	background-color: #328284;
	margin-top: 25px;
	margin-left: 0px;
	padding-left: 2%;
	color: #ffffff;
	display: none;
}
#btn-info{
	background-color:#4f3558;
	margin-color:#4f3558;
}

h3{
	text-align: center;
}
h4{
	color: #ffd699;
}
#main-column{
	margin-top: 25px;
	display: none;
	
}
.align-center{
	text-align: center;
}
#enter-label{
	margin-left: 25%;
}
h5{
	padding-left: 2%;
	font-weight: bold;
}
label{
	font-weight: bold;
}
#ol-rules{
	margin-left: 35%;
}
#input{
	width:50%;
	margin-left: 25%
}
#submit{
	width: 30%;
	background-color: #4f3558;
	color: #ffffff;
	font-weight: bold;
	margin-left: 35%;
	margin-top: 1%;
}